
<div class="event event-create">

    <div class="event-header-edit">
        <div class="event-header-datetime-section ">
            <div class="event-edit-date">
                <div class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                <div class="event-edit-value">18</div>
                <div class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
            </div>

            <div class="event-edit-date event-edit-date-month">
                <div class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                <div class="event-edit-value">Мая</div>
                <div class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
            </div>

            <div class="event-spacing"></div>

            <div class="event-edit-date event-edit-date-time">
                <div class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                <div class="event-edit-value">18</div>
                <div class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
            </div><!----><div class="event-edit-time-delimeter">
                <span>:</span>
            </div><!----><div class="event-edit-date event-edit-date-time">
                <div class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                <div class="event-edit-value">00</div>
                <div class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
            </div>

            <div class="event-edit-time-delimeter">
                <span>-</span>
            </div>

            <div class="event-edit-date event-edit-date-time">
                <div class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                <div class="event-edit-value">19</div>
                <div class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
            </div><!----><div class="event-edit-time-delimeter">
                <span>:</span>
            </div><!----><div class="event-edit-date event-edit-date-time">
                <div class="event-edit-up"><i class="fa fa-sort-up"></i></div>
                <div class="event-edit-value">00</div>
                <div class="event-edit-down"><i class="fa fa-sort-desc" aria-hidden="true"></i></div>
            </div>

            <div class="event-spacing-dropdown"></div>

            <input type="hidden" name="room-id" value="" />

            <div id="event-edit-room-dropdown" class="event-edit-room-dropdown-selected">
                <div id="event-edit-room-selected">
                    <span class="selected-room">Newton Classroom</span>
                    <i class="fa fa-sort-desc" aria-hidden="true"></i>
                </div>

                <div id="event-edit-room-dropdown-elements">
                    <div class="event-edit-room-dropdown-variant">Einstein Classroom</div>
                    <div class="event-edit-room-dropdown-variant">Einstein Classroom</div>
                    <div class="event-edit-room-dropdown-variant">Einstein Classroom</div>
                </div>
            </div>
        </div>

        <div class="event-header-close-section">
            <div class="event-header-close"></div>
        </div>

    </div>

    <div class="event-edit-title-section">
        <input type="text" placeholder="Заголовок" class="event-edit-title" />
    </div>

    <div class="event-body">
        <textarea class="event-edit-description" placeholder="Дополнительная информация"></textarea>
    </div>


    <div class="event-edit-access">
        <div class="checkbox">
            <input id="event-edit-register-all-c" type="checkbox" class="checkbox" />
            <label for="event-edit-register-all-c"></label>
        </div>
        <div class="event-edit-label">Регистрация желающих</div>

        <div class="event-edit-access-section">
            <div class="event-edit-access-text">
                Публично
            </div>
            <div class="event-edit-checkbox-access">
                <input type="checkbox" value="1" id="checkboxOneInput" name="" />
                <label for="checkboxOneInput"></label>
            </div>
            <div class="event-edit-access-text event-edit-access-text-private">
                Приватно
            </div>
        </div>

    </div>

    <div class="event-edit-organizers">
        <div class="checkbox">
            <input id="event-edit-register-all-c1" type="checkbox" class="event-edit-checkbox" />
            <label for="event-edit-register-all-c1"></label>
        </div>
        <div class="event-edit-label">Показать автора</div>
        <div class="event-edit-text-or">или</div>


        <input type="text" placeholder="Указать организатора" />


    </div>

    <div class="event-edit-buttons">
        <button class="event-button-create">Создать</button>
        <button class="event-button-save-changes">Сохранить</button>
    </div>


</div>

<script type="text/javascript">

        var listed = false;

        $(function () {

            $(document).on('click', '#event-edit-room-dropdown', function () {
                if (!listed) {
                    $('#event-edit-room-dropdown').addClass('event-edit-room-dropdown-list');
                    $('#event-edit-room-dropdown').removeClass('event-edit-room-dropdown-selected');
                    $('#event-edit-room-selected').addClass('event-edit-room-dropdown-variant-selected');
                    $('.event-edit-room-dropdown-variant').css('display', 'inline-block');
                    listed = true;
                } else {
                    $('#event-edit-room-dropdown').removeClass('event-edit-room-dropdown-list');
                    $('#event-edit-room-dropdown').addClass('event-edit-room-dropdown-selected');
                    $('#event-edit-room-selected').removeClass('event-edit-room-dropdown-variant-selected');
                    $('.event-edit-room-dropdown-variant').css('display', 'none');
                    listed = false;
                }
            });
        });


</script>