@using System.Web.Configuration
@Styles.Render("~/bundles/styles/roomevent")
@Scripts.Render("~/bundles/scripts/roomevent")

@{
    var isUserCanEdit = User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAdmin"]) ||
                        User.IsInRole(WebConfigurationManager.AppSettings["UserRoleAuthorized"]);
}

<div class="roomevent-section">

    <div class="roomevent-left-block noselect-text">

        <div class="roomevent-header">

            <div class="roomevent-header-switch-section ">
                <div class="roomevent-header-switch">
                    <div class="button">
                        <i id="large" class="fa fa-align-justify " aria-hidden="true"></i>
                        <i id="short" class="fa fa-list fa-selected" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="roomevent-header-date-section ">
                <i id="roomevent-time-before-part" class="fa fa-caret fa-caret-left" aria-hidden="true"></i>
                <span id="event-date" class="text"></span>
                <i id="roomevent-time-next-part" class="fa fa-caret fa-caret-right" aria-hidden="true"></i>
            </div>

        </div>

        <div id="header-time">
            <div class="roomevent-time-cell roomevent-time-cell-first"></div>
        </div>

        <div id="room-section"></div>
        <div id="roomevent-navigation" class="roomevent-now"><span id="roomevent-now"></span></div>
    </div>

    <div class="roomevent-right-block noselect-text">
        <div class="calendar">
            <div class="roomevent-calener-date-section">
                <i id="calendar-month-left" class="fa fa-caret fa-caret-left" aria-hidden="true" style="float: left;"></i>
                <span id="current-month" class="text"></span>
                <i id="calendar-month-right" class="fa fa-caret fa-caret-right" aria-hidden="true" style="float: right;"></i>
            </div>

            <div id="calendar-body" class="roomevent-calendar-body"> </div>
            <div class="roomevent-calendar-today"><span id="roomevent-calendar-today"></span></div>
        </div>

    </div>

</div>

<script>
    roomEventInit('@isUserCanEdit');
</script>