
@Styles.Render("~/bundles/styles/roomevent")
@Scripts.Render("~/bundles/scripts/roomevent")

<div class="roomevent-section">

    <!--Left side-->
    <div class="roomevent-left-block">

        <!--main part-->
        <!--header-->
        <div class="roomevent-header">

            <!--switch-->
            <div class="roomevent-header-switch-section">
                <div class="roomevent-header-switch">
                    <div class="button">
                        <i id="large" class="fa fa-align-justify fa-lg" aria-hidden="true"></i>
                        <i id="short" class="fa fa-list fa-lg fa-selected" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <!--Date navigation-->
            <div class="roomevent-header-date-section">
                <i id="roomevent-time-before-part" class="fa fa-caret fa-caret-left fa-2x" aria-hidden="true" style="float: left;"></i>
                <span id="event-date"></span>
                <i id="roomevent-time-next-part" class="fa fa-caret fa-caret-right fa-2x" aria-hidden="true" style="float: right;"></i>
            </div>

        </div>

        <!--Rows-->
        <!--Time row-->
        <div id="header-time">
            <div class="roomevent-time-cell roomevent-time-cell-first"></div>
        </div>

        <div id="room-section"></div>
        <div id="roomevent-navigation" class="roomevent-now"><span id="roomevent-now"></span></div>
    </div>


    <!--right block-->

    <div class="roomevent-right-block">

        <div class="roomevent-calener-date-section">
            <i id="calendar-month-left" class="fa fa-caret fa-caret-left fa-2x" aria-hidden="true" style="float: left;"></i>
            <span id="current-month"></span>
            <i id="calendar-month-right" class="fa fa-caret fa-caret-right fa-2x" aria-hidden="true" style="float: right;"></i>
        </div>

        <div id="calendar-body" class="roomevent-calendar-body"> </div>
        <div class="roomevent-calendar-today"><span id="roomevent-calendar-today"></span></div>

    </div>

</div>

<script type="text/javascript">

    var popupId;



    $(document).on('click', '.eventblock-add', function () {

        $('.event-position').remove();

        var currentRoomEventCell = $(this);
        popupId = 'event-' + currentRoomEventCell.attr('id');
        var position = currentRoomEventCell.parent().position();

        console.log(currentRoomEventCell);

        $('body').append('<div id="'+ popupId + '" class="event-position"></div>');

        var popupDiv = $('#' + popupId);
        popupDiv.css('top', position.top).css('left', position.left);



        $.ajax({
            url: '@Url.Action("New", "RoomEvent")',
            method: 'GET',
            cache: false,
            dataType: 'html',

            success: function (result) {
                popupDiv.html(result);
            }

        });

    });

    $(document).on('click', '.event-header-close', function () {
        $('#' + popupId).remove();
    });

</script>