
<div class="event event-public">

    <div class="event-public-header">
        <div class="event-header-datetime-section ">
            <div id="event-date" class="event-header-datetime">Пт, 18 Мая</div>
            <div id="event-time" class="event-header-datetime">18:30-19:00</div>
        </div>

        <div class="event-header-close-section">
            <div class="event-header-close"></div>
        </div>

        <!-- buttons to change-->
        <div class="event-buttons">
            <button class="event-button-change">Изменить</button>
            <button class="event-button-cancel">Отменить</button>
        </div>

    </div>

    <h4 id="event-title">English class</h4>

    <div class="event-body">
        Science of everyday thinking: we'll discover how to shape our behaviour to exploit the situations and
        discover their strength. Also we'll the videos and have an interesting practice.
    </div>

    <div class="event-users">
        <div class="event-creator">
            <i class="fa fa-user fa-2x"></i>
            <div class="event-creator-name">Nataly</div>
        </div>

        <div class="event-participant">
            <i class="fa fa-users fa-2x"></i>
            <div class="event-participants">11</div>
        </div>
    </div>

    <div class="event-add">
        <input type="text" placeholder="Укажите e-mail чтобы присоединиться" />
        <i class="fa fa-plus fa-lg"></i>
    </div>

    <div class="event-icon-section">
        <div class="event-icon-position">
            <i class="fa fa-calendar-plus-o fa-lg"></i>
            <i class="fa fa-envelope-o fa-lg"></i>
            <i class="fa fa-print fa-lg"></i>
            <i class="fa fa-link fa-lg"></i>
        </div>
    </div>

</div>