.fa-link {
    cursor: pointer;
}

.wrapper {
    position: relative;
}

.event-position {
    position: absolute;
}

.event {
    font-family: 'Arial';
    color: #4A5158;
}

    .event h4 {
        padding: 8px 11px 2px 14px;
        text-align: left;
        margin: 0;
        width: 312px;
        overflow: hidden;
        font-weight: normal;
    }

.event-public {
    background-color: #FFFFFF;
    border: 1px solid #F95752;
    width: 312px;
}

.event-private {
     background-color: #FFFFFF;
    border: 1px solid #9FA6B6;
    width: 312px;
}

.event-header-datetime-section {
    float: left;
}

.event-header-close-section {
    float: right;
    width: 33px;
    vertical-align: top;
    margin-top: 10px;
}

.event-header-close {
    width: 13px;
    height: 3px;
    background-color: #E1E4EC;
    opacity: 0.7;
    margin: 0 auto;
    cursor: pointer;
}

.event-public-header {
    height: 33px;
    background-color: #F95752;
}

.event-create {
    position: absolute;
    top: 0;
    background-color: #FFFFFF;
    z-index: 50;
    border: 1px solid #9FA6B6;
    width: 451px;
}

.event-header-edit {
    width: inherit;
    height: 48px;
    background-color: #9FA6B6;
}

.event-private-header {
    height: 33px;
    background-color: #9FA6B6;
}

.event-header-datetime,
.event-header-datetime-time {
    color: #FEF2F2;
    font-size: 11px;
    padding-top: 2px;
    padding-left: 8px;
}

.event-header-datetime-time {
    padding: 5px 0 0 9px;
}
.event-body {
    font-size: 12px;
    padding: 11px 30px 4px 14px;
    text-align: left;
    line-height: 15px;
}

.event-creator {
    float: left;
    height: 20px;
}

.event-users .fa {
    padding-left: 14px;
    padding-right: 7px;
}

.event-participant {
    float: right;
}

.event-users {
    height: 25px;
    font-size: 12px;
}

    .event-users div {
        display: inline-block;
        height: inherit;
        vertical-align: top;
        line-height: 30px;
    }

.event-participants {
    padding-right: 33px;
}

.event input[type="text"], textarea {
    width: 255px;
    height: 26px;
    outline: none;
    border: 1px solid #EBEEF7;
    text-indent: 10px;
    border-radius: 12px;
    font-size: 12px;
}

.event-add {
    padding-top: 10px;
    padding-left: 10px;
}

    .event-add .fa {
        padding-left: 9px;
        padding-right: 14px;
        color: #A4A8AB;
        cursor: pointer;
    }

.event-icon-section {
    width: 312px;
    height: 46px;
}

.event-icon-position {
    padding-top: 15px;
    width: 177px;
    margin: 0 auto;
    color: #BFC2C4;
}

    .event-icon-position .fa {
        padding: 0 9px;
        cursor: pointer;
    }

.event-buttons {
    float: right;
    padding-top: 2px;
    margin-top: 2px;
}

.event-button-change, .event-button-cancel {
    border: none;
    font-weight: bold;
    font-size: 11px;
    background-color: #E74845;
    color: #FFFFFF;
    border-radius: 14px;
    padding: 2px 6px;
    cursor: pointer;
}

.event-button-change:disabled,
.event-button-cancel:disabled {
    cursor: default;
    background-color: #C0C0C0;
}

.event-button-cancel {
    background-color: #A15455;
    margin-right: 10px;
    margin-left: 6px;
}

.event-button-cancel-private {
    background-color: #747B87 !important;
}

.event-button-change-private {
    background-color: #888F9D !important;
}


.event-edit-date {
    display: inline-block;
    margin: 0;
    width: 16px;
    padding-left: 12px;
    height: inherit;
    color: #FFFFFF;
    text-align: center;
}

.event-edit-date-month {
    width: 27px !important;
}

.event-edit-date-time {
    padding: 0;
    margin: 0;
}

.event-edit-up, .event-edit-down {
    width: inherit;
    cursor: pointer;
    height: 12px;
}

    .event-edit-up i {
        position: relative;
        top: 4px;
    }

    .event-edit-down i {
        position: relative;
        top: -5px;
    }

.event-edit-value {
    width: inherit;
    font-size: 14px;
    padding-top: 4px;
}

.event-edit-value-month {
    width: 70px;
}

.event-spacing {
    display: inline-block;
    width: 37px;
}

.event-spacing-dropdown {
    display: inline-block;
    width: 27px;
}

.event-edit-time-delimeter {
    color: #FFFFFF;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: inherit;
    line-height: 46px;
}

.event-edit-room-dropdown-list {
    position: absolute;
    top: 0;
    left: 242px;
    display: inline-block;
    margin-top: 7px;
    cursor: pointer;
    text-align: center;
    padding-top: 7px;
    width: 160px;
    border: 1px solid #000000;
    font-size: 14px;
    vertical-align: top;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    color: #AAB0BE;
}

.event-edit-room-dropdown-selected {
    margin-top: 8px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding-top: 7px;
    color: #FFFFFF;
    width: 160px;
    height: 25px;
    font-size: 14px;
    vertical-align: top;
}

.event-edit-room-dropdown-variant-selected {
    width: 160px;
    height: 25px;
    line-height: 25px;
    padding-bottom: 7px;
    text-align: left;
    text-indent: 10px;
    color: #B0B6C3;
    background-color: #FFFFFF;
}

.event-edit-room-dropdown-variant {
    display: none;
    width: 160px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    text-indent: 10px;
    color: #7C8393;
    background-color: #FFFFFF;
}

    .event-edit-room-dropdown-variant:hover {
        background-color: #9FA6B6;
        color: #FFFFFF;
    }

.event-edit-room-dropdown-selected i {
    position: relative;
    top: -4px;
    padding-left: 8px;
}

.event-edit-room-dropdown-variant-selected i {
    position: relative;
    top: -4px;
    left: -2px;
}

.event-edit-title-section {
    padding-left: 15px;
    padding-top: 10px;
}

.event-edit-title-section .error-message{
     display: none;
    font-size: 11px;
    line-height: 13px;
    padding: 0 0 5px 0;
}

.event-edit-title {
    width: 418px !important;
    text-indent: 16px !important;
}

.event-edit-description {
    width: 417px !important;
    height: 82px;
    text-indent: 15px !important;
    resize: none;
    margin: 2px 0 0 0;
    padding: 6px 0 0 0;
    font-size: 13px;
    font-family: 'Arial';
}

.event-edit-access, .event-edit-organizers {
    width: 100%;
    height: 23px;
    font-size: 12px;
    padding: 6px 0 0 13px;
}

.event-edit-organizers {
    padding: 17px 0 0 13px;
}

    .event-edit-organizers input[type="text"] {
        position: relative;
        width: 214px !important;
        top: -2px;
        vertical-align: top;
    }


.event-edit-label {
    display: inline-block;
    vertical-align: top;
    padding-left: 14px;
    font-size: 13px;
    height: 23px;
    color: #4A5158;
    line-height: 25px;
    text-align: left;
}

.event-edit-access-section {
    display: inline-block;
    padding-right: 15px;
    vertical-align: top;
    padding-left: 39px;
}

.event-edit-access-text,
.event-edit-access-text-private {
    display: inline-block;
    vertical-align: top;
    line-height: 23px;
    font-size: 13px;
    width: 60px;
    color: #F95752;
    margin: 0 10px 0 0;
}

.event-edit-access-text-private {
    color: #697184;
    padding: 0 0 0 12px;
}

.event-edit-text-or {
    display: inline-block;
    vertical-align: top;
    height: inherit;
    line-height: 25px;
    padding: 0 18px 0 20px;
}


.event-modal-status-section {
    margin: 20px 18px 9px 0;
}

.event-modal-status-section .fa-frown-o,
.event-modal-status-section .fa-calendar-check-o,
.event-modal-status-section .fa-calendar-times-o
{
    font-size: 34px;
}

    .event-modal-status-section .event-edit-buttons {
        display: inline-block;
        vertical-align: top;
        padding: 0 0 5px 0;
        margin: 0 0 0 27px;
    }

    .event-modal-status-section .status-message {
        width: 235px;
        display: inline-block;
        vertical-align: top;
        padding: 0 0 0 16px;
    }

      .event-modal-status-section .icon-place {
        display: inline-block;
        vertical-align: top;
        margin: 0;
        padding: 0;
        width: auto;
        height: auto;
    }

        .event-modal-status-section  .message {
        position: relative;
        top: 1px;
        left: 4px;
        font-size: 13px;
        line-height: 18px;
        display: inline-block;
        vertical-align: top;
        width: 190px;
    }




.event-button-create, .event-button-save-changes {
    cursor: pointer;
    outline: none;
    border: none;
    color: #4A5158;
    width: 150px;
    background-color: #C8CEDA;
    height: 36px;
    font-weight: bold;
    border-radius: 17px;
}

.event-button-save-changes {
    color: #FFFFFF;
    background-color: #F95752;
    margin-left: 11px;
}
