.feedback {
    height: 773px;
    background-color: #FFFFFF;
    color: #4A5158;
}

.feedback-container {
    margin-top: 36px;
    margin-left: 121px;
    color: #4A5158;
}

.feedback-header {
    width: 100%;
    margin-bottom: 18px;
}

.feedback-write-message {
    float: left;
    width: 533px;
}

.feedback-write-message h2 {
    display: inline;
    margin: 0;
    padding: 0;
}

.feedback-result-message {
    display: inline-block; 
    padding-top: 15px; 
    width: 490px; 
    text-align: center;
}

.feedback-proposition-text {
    color: #4A5158;
}

.feedback-image {
    margin-top: 17px;
    height: 293px;
    background-image: url("../images/contact-bg.png");
    background-repeat: no-repeat;
}

.feedback-left {
    float: left;
    width: 500px;
}

.feedback-form {
    display: inline-block;
    margin-left: 31px;
    width: 500px;
    width: 500px;
}

    .feedback-form input[type="text"], button, textarea {
        padding-left: 17px;
        border: none;
        outline: none;
        border-radius: 19px;
        height: 34px;
        background-color: #F5F6FB;
        resize: none;
    }

.feedback-form-inline-name {
    display: inline-block;
}

.feedback-form-inline-lastname {
    display: inline-block;
    padding-left: 9px;
}

.feedback-form-name {
    width: 205px;
}

.feedback-form-lastname {
    width: 273px;
}

.feedback-form-email {
    width: 490px;
}

.feedback-form-message {
    width: 490px;
    height: 134px;
    padding-top: 16px;
}

.feedback-form-button-submit-block {
    margin-top: 15px;
    text-align: center;
}

.feedback-form-button-submit {
    padding-left: 0px;
    color: #858B94;
    background-color: #C8CEDA;
    text-align: center;
    width: 135px;
}

.feedback-form-button-submit-ok {
    padding-left: 0px;
    background-color: #F95752;
    color: #FEFEFF;
    text-align: center;
    width: 135px;
}

*::-webkit-input-placeholder {
    color: #C8C9CC;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #C8C9CC;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #C8C9CC;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #C8C9CC;
}

/*Validation styles*/

.feedback-form-incorrect-block {
    margin: 2px;
    height: 12px;
    font-size: 10px;
    color: #626D81;
}

.feedback-form-incorrect-with-image {
    /*background-image: url("../images/danger.png");
    background-repeat: no-repeat;
    padding-left: 13px;*/
}
