body {
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-family: "Arial";
    /*height: 1500px;*/
    /*background-color: #000000;*/
    width: 1272px;
}

.wrapper {
    position: relative;
}

.noselect-text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}