body {
    position: relative;
    margin: 0 auto;
    padding: 0;
    font-family: "Arial";
    /*height: 1500px;*/
    /*background-color: #000000;*/
    width: 1272px;

}

.display-none {
    display: none !important;
}

.display-inline-block {
    display: inline-block !important;
}


.wrapper {
    position: relative;
}

.noselect-text {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
}

.invisible {
    visibility: hidden;
}

.visible {
    visibility: visible;
}