nav {
    position: relative;
    z-index: 1;
    box-shadow: 0px 4px 4px 0px #D7D9E1;
    font-size: 14px;
    height: 61px;
    width: 100%;
    background-color: #FFFFFF;
}

    nav ul {
        float: right;
        height: inherit;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #FFFFFF;
        padding-right: 134px;
    }

    nav li {
        height: inherit;
        float: left;
        width: 147px;
    }

        nav li a, nav li .a-user {
            height: 61px;
            display: block;
            color: #4A5158;
            text-decoration: none;
            text-align: center;
            padding-left: 19px;
            padding-right: 19px;
            text-decoration: none;
        }

        nav .li-user {
            position: relative;
            left: 11px;
            font-size: 24px;
            line-height: 56px;
            color: #4A5158;
        }

        nav li .current {
            height: 58px;
            background-color: #F4F6FB;
        }


.nav-line-display {
    width: inherit;
    background-color: #F95752;
    height: 3px;
}

.nav-line-hide {
    display: none;
    background-color: #F95752;
    height: 3px;
}

nav .nav-text {
    
    display: inherit;
    padding-top: 20px;
    height: 40px;
}
.nav-text img {
    float: left;
        position: relative;
    left: -5px;
}
.UserName {
           position: relative;
    top: 2px;
    left: 0px;
    width: 127px;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    color: #F95752 !important;
    text-decoration: none;
}

nav li a:visited, a:link, a:active {
    text-decoration: none;
    color: #4A5158;
}

/*<nav li a:hover + .nav-line {
    visibility: visible;
}*/

nav .containerLogo {
    display: inline-block;
    height: inherit;
    width: 5%;
}

    nav .containerLogo img {
        display: block;
        padding-top: 16px;
        padding-left: 112px;
    }

nav .containerNav {
    float: right;
    height: inherit;
    width: auto;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 145px;
    background-color: #F4F6FB;
}

    footer .line {
        padding-top: 10px;
    }

    footer .image {
        padding-top: 30px;
    }

    footer hr {
        border: 0px;
        height: 1px;
        background-color: #CFD4E1;
    }

    footer .container {
        margin: 0 auto;
        height: inherit;
        width: 188px;
        align-content: center;
    }

    footer .text {
        font-size: 14px;
        color: #CFD4E1;
        text-align: center;
        padding-top: 5px;
    }
    #main-menu  li #event {
        margin-top: 10px !important;
    }

        #main-menu  li:last-of-type {
            margin-right: 137px;
                border-bottom: 3px solid red;
                   background: #F4F6FB;
        }

#main-menu li {
    margin-left: 6px;
    width: auto;
    height: 58px;
 
}
    #main-menu li a {
        padding-left: 12px;
        padding-right: 12px;
    }