        .wrapper {
            position: relative;
        }

        .modal-close-room-position {
            position: absolute;
            top: 27%;
            left: 31%;
        }

        .modal-close-room  {
            position: relative;
             z-index: 1;
            background-color: #FFFFFF;
            display: none;
            height: 208px;
            width: 500px;
            font-size: 18px;
            font-family: 'Arial';
            border: 1px solid #C0C9D9;
        }

         .modal-close-room button {
             position: relative;
            border: none;
            outline: none;
            cursor: pointer;
            width: 150px;
            height: 36px;
            border-radius: 15px;
        }

        .fa-cog {
          color: #FFFFFF;
         background-color: transparent;
        }

        .modal-header {
            display: table;
            height: 57px;
            width: 100%;
            background-color: #9FA6B6;
            color: #FFFFFF;
        }

        .modal-body {
            display: table;
            width: 100%;
        }

        .modal-message {
            display: table-cell;
            height: 79px;
            width: 100%;
            text-align: center;
            vertical-align: middle;
            color: #4A5158;
            font-size: 16px;
            padding: 0 60px;
        }

        .modal-buttons {
            text-align: center;
        }

        .modal-button-no {

            background-color: #C8CEDA;
            color: #000000;
        }

        .modal-button-yes {
            background-color: #F95752;
            color: #FFFFFF;
            margin-left: 38px;
        }

        .modal-header-icon {
            width: 10%;
            display: table-cell;
             height: 100%;
            vertical-align: middle;
            text-align: right;
        }

        .modal-header-text {
            width: 89%;
            display: table-cell;
            height: 100%;
            vertical-align: middle;
            padding-left: 14px;
        }

        .modal-background {
            display: none;
            position: fixed; 
            background-color: #FFFFFF;
            width: 100vw; 
            height: 100vh;
            opacity: 0.66;
            left: 0;
            top: 0;
        }
