#map-section {
    height: 416px;
    width: 100%;
}

.plan-section {
    position: relative;
    top: -5px;
    height: 522px;
    width: 100%;
    background-color: #EBEEF7;
}

.plan-stage {
    position: absolute;
    left: 9px;
    top: 58px;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 35px;
    z-index: 1;
    color: #4A5158;
}

.plan-loading-section {
    padding-top: 18%;
    text-align: center;
}

.plan-walls-background {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    background-image: url("/Content/images/walls.png");
    position: absolute;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: none;
}

div .plan-room-text {
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    background-color: rgba(172, 176, 182, 0.7);
    color: #FFFFFF;
    border-radius: 13px;
    letter-spacing: 1px;
    vertical-align: middle;
    line-height: normal;
}

/*Room id=1*/

div .plan-room-position-1 {
    position: absolute;
    top: 141px;
    left: 135px;
}

.plan-room-line-detail-1 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-1.png");
    width: 260px;
    height: 214px;
    top: 212px;
    left: 261px;
    pointer-events: none;
}

.plan-room-path-1 {
    position: absolute;
    background-image: url("/Content/images/path/path-1.png");
    width: 947px;
    height: 212px;
    top: 243px;
    left: 148px;
    pointer-events: none;
}

div .plan-room-1-available:hover {
    cursor: pointer;
    background-color: #828A9D;
}

div .plan-room-1,
div .plan-room-1-busy,
div .plan-room-1-available {
    width: 170px;
    height: 96px;
    background-color: #D7D9DE;
    line-height: 100px;
    text-align: center;
}

    div .plan-room-1:hover {
        background-color: #D7D9E8;
    }

div .plan-room-1-busy {
    background-color: #F95752;
}

    div .plan-room-1-busy:hover {
        background-color: #E94944;
    }

div .plan-room-1-available {
    background-color: #9FA6B6;
}

div .plan-room-1-available-hovered {
    width: 234px;
    height: 100px;
    background-color: #828A9D;
}
/* HR id=2*/

div .plan-room-position-2 {
    position: absolute;
    top: 141px;
    left: 305px;
}

.plan-room-line-detail-2 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-2.png");
    width: 148px;
    height: 218px;
    top: 208px;
    left: 373px;
    pointer-events: none;
}

.plan-room-path-2 {
    position: absolute;
    background-image: url("/Content/images/path/path-2.png");
    width: 947px;
    height: 212px;
    top: 243px;
    left: 148px;
    pointer-events: none;
}

div .plan-room-2,
div .plan-room-2-available,
div .plan-room-2-busy {
    width: 234px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: #D7D9DE;
}

    div .plan-room-2:hover {
        background-color: #D7D9E8;
    }

div .plan-room-2-available {
    background-color: #9FA6B6;
}

div .plan-room-2-busy {
    background-color: #F95752;
}

    div .plan-room-2-busy:hover {
        background-color: #E94944;
    }

div .plan-room-2-available:hover {
    cursor: pointer;
    background-color: #828A9D;
}

/* Einstein 3*/

div .plan-room-position-3 {
    position: absolute;
    top: 141px;
    left: 540px;
}

.plan-room-line-detail-3 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-3.png");
    width: 54px;
    height: 213px;
    top: 213px;
    left: 516px;
    pointer-events: none;
}

.plan-room-path-3 {
    position: absolute;
    background-image: url("/Content/images/path/path-3.png");
    width: 947px;
    height: 212px;
    top: 243px;
    left: 148px;
    pointer-events: none;
}

div .plan-room-3,
div .plan-room-3-available,
div .plan-room-3-busy {
    width: 188px;
    height: 102px;
    background-color: #D7D9DE;
    line-height: 100px;
    text-align: center;
}

div .plan-room-3:hover {
     background-color: #D7D9E8;
}

div .plan-room-3-busy:hover {
    background-color: #E94944;
}

div .plan-room-3-available {
    background-color: #9FA6B6;
}

    div .plan-room-3-available:hover {
        cursor: pointer;
        background-color: #828A9D;
    }

div .plan-room-3-busy {
    background-color: #F95752;
}

/* Info 4*/

div .plan-room-position-4 {
    position: absolute;
    top: 141px;
    left: 728px;
}

.plan-room-line-detail-4 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-4.png");
    width: 239px;
    height: 204px;
    top: 222px;
    left: 515px;
    pointer-events: none;
}

.plan-room-path-4 {
    position: absolute;
    background-image: url("/Content/images/path/path-4.png");
    width: 947px;
    height: 212px;
    top: 243px;
    left: 148px;
    pointer-events: none;
}

div .plan-room-4,
div .plan-room-4-available,
div .plan-room-4-busy 
 {
    width: 87px;
    height: 102px;
    background-color: #D7D9DE;
    line-height: 100px;
    text-align: center;
}

div .plan-room-4:hover {
     background-color: #D7D9E8;
}

div .plan-room-4-busy:hover {
    background-color: #E94944;
}

div .plan-room-4-available {
    background-color: #9FA6B6;
}


div .plan-room-4-busy {
    background-color: #F95752;
}

div .plan-room-4-available:hover {
    cursor: pointer;
    background-color: #828A9D;
}

/* Web & Marketing 5*/

div .plan-room-position-5 {
    position: absolute;
    top: 141px;
    left: 814px;
}

.plan-room-line-detail-5 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-5.png");
    width: 325px;
    height: 211px;
    top: 215px;
    left: 515px;
    pointer-events: none;
}

.plan-room-path-5 {
    position: absolute;
    background-image: url("/Content/images/path/path-5.png");
    width: 947px;
    height: 216px;
    top: 241px;
    left: 148px;
    pointer-events: none;
}

div .plan-room-5,
div .plan-room-5-available,
div .plan-room-5-busy {
    width: 100px;
    height: 90px;
    background-color: #D7D9DE;
    line-height: 90px;
    text-align: center;
}

div .plan-room-5:hover {
     background-color: #D7D9E8;
}

div .plan-room-5-busy:hover {
    background-color: #E94944;
}

div .plan-room-5-available {
    background-color: #9FA6B6;
}

div .plan-room-5-busy {
    background-color: #F95752;
}

div .plan-room-5-available:hover {
    cursor: pointer;
    background-color: #828A9D;
}
/* Web & Marketing 6*/

div .plan-room-position-6 {
    position: absolute;
    top: 141px;
    left: 913px;
}

.plan-room-line-detail-6 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-6.png");
    width: 440px;
    height: 209px;
    top: 217px;
    left: 515px;
    pointer-events: none;
}

.plan-room-path-6 {
    position: absolute;
    background-image: url("/Content/images/path/path-6.png");
    width: 947px;
    height: 246px;
    top: 211px;
    left: 148px;
    pointer-events: none;
}

div .plan-room-6,
div .plan-room-6-available,
div .plan-room-6-busy 
 {
    width: 94px;
    height: 100px;
    background-color: #D7D9DE;
    line-height: 100px;
    text-align: center;
}

div .plan-room-6:hover {
     background-color: #D7D9E8;
}

div .plan-room-6-busy:hover {
    background-color: #E94944;
}

div .plan-room-6-busy {
    background-color: #F95752;
}

div .plan-room-6-available {
    background-color: #9FA6B6;
}

    div .plan-room-6-available:hover {
        cursor: pointer;
        background-color: #828A9D;
    }
/* Web & Marketing 7*/

div .plan-room-position-7 {
    position: absolute;
    top: 141px;
    left: 1009px;
}

.plan-room-line-detail-7 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-7.png");
    width: 530px;
    height: 212px;
    top: 214px;
    left: 515px;
    pointer-events: none;
}

.plan-room-path-7 {
    position: absolute;
    background-image: url("/Content/images/path/path-7.png");
    width: 947px;
    height: 216px;
    top: 241px;
    left: 148px;
    pointer-events: none;
}

div .plan-room-7-available,
div .plan-room-7-busy,
div .plan-room-7 {
    width: 91px;
    height: 100px;
    background-color: #9FA6B6;
    line-height: 100px;
    text-align: center;
}

div .plan-room-7:hover {
     background-color: #D7D9E8;
}

div .plan-room-7-busy:hover {
    background-color: #E94944;
}

div .plan-room-7 {
    background-color: #D7D9DE;
}

div .plan-room-7-busy {
    background-color: #F95752;
}

div .plan-room-7-available:hover {
    cursor: pointer;
    background-color: #828A9D;
}

/* English 8*/
div .plan-room-position-8 {
    position: absolute;
    top: 191px;
    left: 1050px;
}

.plan-room-line-detail-8 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-8.png");
    width: 599px;
    height: 167px;
    top: 259px;
    left: 515px;
    pointer-events: none;
}

.plan-room-path-8 {
    position: absolute;
    background-image: url("/Content/images/path/path-8.png");
    width: 950px;
    height: 200px;
    top: 258px;
    left: 148px;
    pointer-events: none;
}


div .plan-room-text-8 {
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    background-color: rgba(172, 176, 182, 0.7);
    color: #FFFFFF;
    border-radius: 13px;
    letter-spacing: 1px;
    vertical-align: middle;
    line-height: normal;
    min-width: 70px;
}

div .plan-room-8,
div .plan-room-8-available,
div .plan-room-8-busy  {
    width: 142px;
    height: 42px;
    background-color: #D7D9DE;
    line-height: 42px;
    text-align: center;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

div .plan-room-8:hover {
     background-color: #D7D9E8;
}

div .plan-room-8-busy:hover {
    background-color: #E94944;
}

div .plan-room-8-available {
    background-color: #9FA6B6;
}

div .plan-room-8-busy {
    background-color: #F95752;
}


    div .plan-room-8-available:hover {
        cursor: pointer;
        background-color: #828A9D;
    }
/* Tesla 9*/

div .plan-room-position-9 {
    position: absolute;
    top: 280px;
    left: 440px;
}

.plan-room-line-detail-9 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-9.png");
    width: 36px;
    height: 71px;
    top: 354px;
    left: 484px;
    pointer-events: none;
}

.plan-room-path-9 {
    position: absolute;
    background-image: url("/Content/images/path/path-9.png");
    width: 947px;
    height: 200px;
    top: 257px;
    left: 148px;
    pointer-events: none;
}

div .plan-room-9,
div .plan-room-9-available,
div .plan-room-9-busy 
 {
    width: 190px;
    height: 100px;
    background-color: #D7D9DE;
    line-height: 100px;
    text-align: center;
}

div .plan-room-9:hover {
     background-color: #D7D9E8;
}

div .plan-room-9-busy:hover {
    background-color: #E94944;
}

div .plan-room-9-busy {
    background-color: #F95752;
}

div .plan-room-9-available {
    background-color: #9FA6B6;
}

    div .plan-room-9-available:hover {
        cursor: pointer;
        background-color: #828A9D;
    }
/* Newton 108*/

div .plan-room-position-10 {
    position: absolute;
    top: 280px;
    left: 630px;
}

.plan-room-line-detail-10 {
    position: absolute;
    background-image: url("/Content/images/lines/line-details-10.png");
    background-repeat: no-repeat;
    width: 125px;
    height: 112px;
    top: 313px;
    left: 516px;
    pointer-events: none;
}

.plan-room-path-10 {
    position: absolute;
    background-image: url("/Content/images/path/path-10.png");
    width: 947px;
    height: 200px;
    top: 257px;
    left: 148px;
    pointer-events: none;
}

div .plan-room-10,
div .plan-room-10-available,
div .plan-room-10-busy
 {
    width: 190px;
    height: 100px;
    background-color: #D7D9DE;
    line-height: 100px;
    text-align: center;
}

div .plan-room-10:hover {
     background-color: #D7D9E8;
}

div .plan-room-10-busy:hover {
    background-color: #E94944;
}

div .plan-room-10-busy {
    background-color: #F95752;
}

div .plan-room-10-available {
    background-color: #9FA6B6;
}

    div .plan-room-10-available:hover {
        cursor: pointer;
        background-color: #828A9D;
    }


div .calemder-section {
    height: 335px;
}


.plan-noselect-text {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.plan-room-edit-buttons-position {
    position: absolute;
    top: 21px;
    left: 985px;
}

.plan-room-edit-buttons button {
    margin: 10px;
    display: block;
    width: 150px;
    border-radius: 17px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Arial';
}

.plan-room-edit-buttons-up {
    background-color: #747B86;
    color: #FFFFFF;
    height: 36px;
}

    .plan-room-edit-buttons-up:hover {
        background-color: #747B79;
    }

.plan-room-edit-buttons-down {
    background-color: #C8CEDA;
    color: #4A5158;
    height: 36px;
}

    .plan-room-edit-buttons-down:hover {
        background-color: #C8CED0;
    }

.plan-show-additional-info-short {
    position: absolute;
    top: 424px;
    left: 458px;
}

.plan-show-additional-info-detail {
    position: absolute;
    top: 426px;
    left: 392px;
}
