#map-section {
	height: 442px;
	width: 100%;
}

#plan-section {
    position: relative;
    z-index: -1;
    height: 517px;
    width: 100%;
    background-color: #EBEEF7;
}

.plan-loading-section{
    padding-top: 18%;
    text-align: center;
 }


div .plan-walls {
    padding: 0px;
    margin: 0px;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    background-image: url("../images/walls.png");
    position: relative;
    text-align: center;
    background-position: center; 
    background-repeat: no-repeat;
}

div .plan-room-name-wrapper {
    position: relative;
     z-index: 0;
}

div .plan-room-wrapper {
    position: relative;
     z-index: -1;
}

div .plan-room-name {
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #ACB0B6;
    width: 70px;
    height: 39px;
    border-radius: 13px;
}

div .plan-room-name-textblock {
    display: inline-block;   
}

div .plan-room-name-header {
    display: inline-block;
    height: 12px;
    padding-left: 7px;
    padding-right: 7px;
}

/*Room 100*/

div .plan-room-position-100 {
    position: absolute;
    top: 141px; 
    left: 135px;
}

div .plan-room-100 {   
    width: 170px;
    height: 96px;
    background-color: #D7D9DE;
}
/* HR 101*/

div .plan-room-name-position-HR {
    position: absolute;
    top: 173px; 
    left: 390px;
}

div .plan-room-position-HR {
    position: absolute;
    top: 141px; 
    left: 305px;
}

div .plan-room-HR {   
    width: 234px;
    height: 100px;
    background-color: #D7D9DE;
}

div .plan-room-HR-selected {
    display: none;
    width: 234px;
    height: 100px;
    background-color: #F95752;
}

div .plan-room-HR-available {
    width: 234px;
    height: 100px;
    background-color: #9FA6B6;
}

div .plan-room-HR-available-hovered {
    width: 234px;
    height: 100px;
    background-color: #828A9D;
}

/* Einstein 102*/

div .plan-room-name-position-Einstein {
    position: absolute;
    top: 173px; 
    left: 595px;
}

div .plan-room-position-Einstein {
    position: absolute;
    top: 141px; 
    left: 540px;
}

div .plan-room-Einstein {
    width: 188px;
    height: 102px;
    background-color: #D7D9DE;
}

div .plan-room-Einstein-selected {
    display: none;
    width: 188px;
    height: 102px;
    background-color: #F95752;
}

div .plan-room-Einstein-available {
    width: 188px;
    height: 102px;
    background-color: #9FA6B6;
}

div .plan-room-Einstein-available-hovered {
    width: 188px;
    height: 102px;
    background-color: #828A9D;
}

/* Info 103*/

div .plan-room-name-position-Info {
    position: absolute;
    top: 173px; 
    left: 734px;
}

div .plan-room-position-Info {
    position: absolute;
    top: 141px; 
    left: 728px;
}

div .plan-room-Info {   
    width: 87px;
    height: 102px;
    background-color: #D7D9DE;
}

/* Web & Marketing 104*/

div .plan-room-name-position-Web1 {
    position: absolute;
    top: 173px; 
    left: 825px;
}

div .plan-room-position-Web1 {
    position: absolute;
    top: 141px; 
    left: 814px;
}

div .plan-room-Web1 {   
    width: 100px;
    height: 90px;
    background-color: #D7D9DE;
}

/* Web & Marketing 105*/

div .plan-room-name-position-Web2 {
    position: absolute;
    top: 173px; 
    left: 922px;
}

div .plan-room-position-Web2 {
    position: absolute;
    top: 141px; 
    left: 913px;
}

div .plan-room-Web2 {   
    width: 94px;
    height: 100px;
    background-color: #D7D9DE;
}

/* Web & Marketing 106*/

div .plan-room-name-position-Web3 {
    position: absolute;
    top: 173px; 
    left: 1015px;
}

div .plan-room-position-Web3 {
    position: absolute;
    top: 141px; 
    left: 1009px;
}

div .plan-room-Web3 {   
    width: 91px;
    height: 100px;
    background-color: #D7D9DE;
}

/* English 106*/

div .plan-room-name-English {
    display: table-cell;
    vertical-align: middle;
    color: #FFFFFF;
    font-size: 12px;
    background-color: #ACB0B6;
    border-radius: 13px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

div .plan-room-name-position-English {
    position: absolute;
    top: 193px; 
    left: 1086px;
}

div .plan-room-position-English {
    position: absolute;
    top: 141px; 
    left: 1100px;
}

div .plan-room-English {   
    width: 42px;
    height: 142px;
    background-color: #D7D9DE;
}

div .calemder-section {
    height: 335px;
}

/* Tesla 107*/

div .plan-room-name-position-Tesla {
    position: absolute;
    top: 313px; 
    left: 495px;
}

div .plan-room-position-Tesla {
    position: absolute;
    top: 280px; 
    left: 440px;
}

div .plan-room-Tesla {   
    width: 190px;
    height: 100px;
    background-color: #D7D9DE;
}

div .plan-room-Tesla-selected {
    display: none;
    width: 190px;
    height: 100px;
    background-color: #F95752;
}

div .plan-room-Tesla-available {
    width: 190px;
    height: 100px;
    background-color: #9FA6B6;
}

div .plan-room-Tesla-available-hovered {
    width: 190px;
    height: 100px;
    background-color: #828A9D;
}

/* Newton 108*/

div .plan-room-name-position-Newton {
    position: absolute;
    top: 313px; 
    left: 685px;
}

div .plan-room-position-Newton {
    position: absolute;
    top: 280px; 
    left: 630px;
}

div .plan-room-Newton {   
    width: 190px;
    height: 100px;
    background-color: #D7D9DE;
}

div .plan-room-Newton-selected {
    display: none;
    width: 190px;
    height: 100px;
    background-color: #F95752;
}

div .plan-room-Newton-available {
    width: 190px;
    height: 100px;
    background-color: #9FA6B6;
}

div .plan-room-Newton-available-hovered {
    width: 190px;
    height: 100px;
    background-color: #828A9D;
}