.button-logout {
    height: 30px;
    padding: 25px 124px 0 0;
    text-align: right;
    font-size: 14px;
}

    .button-logout button {
        width: 150px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        border: 0;
        border-radius: 20px;
        background-color: #c8ceda;
        padding: 0 7px 0 0;
        color: #6D737C;
    }

.roomevent-profile {
    margin: 84px 0 0 125px;
}

.user-profile .left-section, .user-profile .right-section {
    display: inline-block;
    vertical-align: top;
    padding: 21px 0 0 0;
}

.user-profile {
    font-size: 14px;
}

    .user-profile .left-section {
        width: 645px;
    }

    .user-profile .right-section {
        width: auto;
        padding-left: 16px;
    }

    .user-profile .user-info-section {
        width: 355px;
        margin: 37px auto;
        text-align: left;
    }

        .user-profile .user-info-section .username {
            font-size: 28px;
        }

            .user-profile .user-info-section .username sup {
                position: relative;
                color: white;
                font-size: 11px;
                background: #f95752;
                border-radius: 20px;
                padding: 4px 12px 5px;
                top: 3px;
                font-weight: 100;
                vertical-align: top;
            }

        .user-profile .user-info-section .email-section {
            margin: 37px 0 0 0;
        }

            .user-profile .user-info-section .email-section .text,
            .user-profile .user-info-section .email-section .email,
            .user-profile .user-info-section .event-count-section .event-count,
            .user-profile .user-info-section .event-count-section .text {
                display: inline-block;
                vertical-align: top;
                font-size: 14px;
            }

            .user-profile .user-info-section .email-section .text {
                font-weight: bold;
            }

            .user-profile .user-info-section .email-section .email {
                padding: 0 0 0 3px;
                font-size: 14px;
            }

        .user-profile .user-info-section .event-count-section {
            margin: 23px 0 0 0;
        }

            .user-profile .user-info-section .event-count-section .text {
                font-weight: bold;
            }

        .user-profile .user-info-section .button-change {
            margin: 36px 0 0 0;
        }

            .user-profile .user-info-section .button-change #change {
                font-size: 14px;
                width: 150px;
                height: 35px;
                line-height: 35px;
                padding: 0;
                border: 0;
                border-radius: 20px;
                background-color: #c8ceda;
                color: #6D737C;
                padding: 0 3px 0 0;
                margin: 0 0 0 80px;
            }

.change-password-section {
    width: 481px;
    height: 318px;
    background-color: #EBEEF7;
}

    .change-password-section .text {
        padding: 41px 12px 0 0;
        text-align: center;
        font-size: 23px;
    }

    .change-password-section form {
        padding: 20px 0 0 0;
    }

    .change-password-section input {
        border: none;
        display: block;
        margin: 0 auto 19px 105px;
        font-size: 14px;
        height: 36px;
        border-radius: 20px;
        outline: none;
    }

    .change-password-section .confirm-password {
        position: relative;
        top: -6px;
    }

    .change-password-section input[type="password"] {
        width: 277px;
        text-indent: 18px;
    }


.user-profile .button-refuse,
.user-profile .button-OK {
    cursor: pointer;
    color: #6D737C;
    position: relative;
    top: 9px;
    height: 36px;
    width: 155px;
    background-color: #c8ceda;
    border: none;
    margin: 0 auto 0 171px;
    top: -12px;
}

.user-profile .button-OK {
    background-color: #F95752;
    color: white;
}

.changeuser {
    position: relative;
    left: -22px;
}

.changeuser form input {
    display: block;
    border-width: 2px;
    height: 30px;
    width: 350px;
    border-radius: 19px;
    outline: none;
    border: 2px solid #F2F4FA;
}

.changeuser input[type=email],
.changeuser input[type=text] {
    text-indent: 16px;
} 

.changeuser input[type=email] {
    margin: 15px 0 0 0px;
}

.changeuser input[type=submit] {
    font-size: 14px;
    margin: 32px 0 0 99px;
}

.changeuser .checkbox-slider {
    margin: 15px 0 0 2px;
}

.changeuser  .text {
    display: inline-block;
    font-size: 13px;
    padding: 20px 0 0 10px;
}

.changepassword-success {
    position: relative;
    top: -4px;
    left: -4px;
    text-align: center;
}

.changepassword-success .fa{
    font-size: 26px;
    padding: 0 0 0 0;
}

.changepassword-success .text{
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding: 4px 0 0 4px;
}

/*.nav {
    height: 60px;
    width: 100%;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

    .nav img.logo {
        margin-top: 12px;
    }

    .nav .wrapper > div {
        display: inline-block;
        height: 57px;
    }

    .nav .wrapper div:first-child {
        float: left;
    }

.navtext img {
    position: relative;
    left: -55px;
}

.UserName {
    position: relative;
    top: 2px;
    left: 0px;
    width: 127px;
}

.nav .wrapper div:last-child {
    float: right;
}



.info {
    height: 300px;
    width: 320px;
    float: left;
    position: relative;
    top: 5px;
    left: 137px;
}

    .info p:first-child {
        font-size: 30px;
        position: relative;
        top: 1px;
    }

    .info p {
        position: relative;
        top: 5px;
        left: 0px;
        font-size: 15px;
    }

        .info p sup {
            color: white;
            font-size: 11px;
            background: #f95752;
            border-radius: 20px;
            padding: 4px 12px 5px;
            font-weight: 100;
        }

.pass {
    float: right;
    width: 481px;
    height: 318px;
    background: #ebeef7;
    text-align: center;
    Position: relative;
    left: -135px;
    top: 3px;
}

    .pass p {
        margin-top: 30px;
        font-size: 23px;
        position: relative;
        top: 8px;
        left: -3px;
    }

    .pass form input {
        font-size: 14px;
        display: block;
        margin: auto;
        border: 0;
        margin-bottom: 20px;
        height: 35px;
        margin-top: -2px;
        border-radius: 20px;
        padding-left: 10px;
        outline: none;
        position: relative;
        top: 5px;
        left: 7px;
        width: 266px;
    }

form input[type=submit], #info input[type=submit] {
    color: #6D737C;
}



    .changeuser form input[type=submit] {
        position: relative;
        top: 9px;
        left: -35px;
        height: 40px;
        width: 155px;
        color: white;
    }

.changeuser {
    position: relative;
    top: 28px;
    left: -58px;
}

    .changeuser input[type=text], .changeuser input[type=email] {
        width: 332px;
        position: relative;
        top: 3px;
        left: 32px;
        height: 33px;
    }

    .pass form input[type=submit], .changeuser form input[type=submit] {
        margin: -7px 167px;
        width: 151px;
        padding: 0;
        background: #c8ceda;
    }

.button-OK {
    background-Color: #F95752 !important;
    color: white !important;
    border: none;
    cursor: pointer !important;
}

.button-refuse {
    background-Color: #C8CDD9 !important;
    border: none;
    color: #6A7179 !important;
    cursor: pointer !important;
}

#changepassword-success p {
    margin: 2px;
    height: 12px;
    font-size: 14px;
    position: relative;
    top: -16px;
}

#changepassword-success img {
    position: relative;
    top: 5px;
    left: -4px;
}

#changepassword-success {
    position: relative;
    top: 29px;
}

.changeuser #Admin_toogle {
    position: relative;
    top: 3px;
    left: 35px;
}

.changeuser span {
    color: #8F9295;
    font-size: 14px;
    position: relative;
    top: 4px;
    left: 10px;
}

#AdminForm #changeName {
    position: relative;
    top: 27px;
    left: -32px;
}*/
