   body,
        html {
         
            color: #4a5158;
        }
        
        .wrapper {
            width: 900px;
            margin: auto;
        }
        
        .clear {
            clear: both;
        }
        
        .nav {
            height: 60px;
            width: 100%;
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        }
        
        .nav img.logo {
            margin-top: 12px;
        }
        
        .nav .wrapper>div {
            display: inline-block;
            height: 57px;
        }
        
        .nav .wrapper div:first-child {
            float: left;
        }
        
        .nav .wrapper div:last-child {
            float: right;
        }
        
        .nav ul.logo {
            margin: 0;
            line-height: 57px;
            padding: 0;
        }
        
        .nav ul li {
            display: inline-block;
            padding: 0 20px;
        }
        
        .nav ul li:first-child {
            background: url(plus.png) no-repeat center center;
            color: transparent;
        }
        
        .nav ul li:last-child {
            background: #f4f6fb url(chel.png) no-repeat;
            background-position: 18px center;
            padding-left: 45px;
            background-size: 15%;
            border-bottom: 3px solid red;
        }
        
        .nav ul li:hover {
            border-bottom: 3px solid red;
            background-color: #f4f6fb;
        }
        
        #exit,
        #change {
            width: 140px;
            height: 35px;
            line-height: 35px;
            padding: 0;
            border: 0;
            margin-top: 20px;
            float: right;
            border-radius: 20px;
            background-color: #c8ceda;
        }
        
        #change {
            float: none;
            margin: auto;
            display: block;
            margin-top: 40px;
        }
        
        .content {
            margin-top: 20px;
        }
        
        .info {
            height: 300px;
            width: 320px;
            float: left;
        }
        
        .info h1 {
            font-weight: 100;
        }
        
        .info h1 sup {
            color: white;
            font-size: 11px;
            background: #f95752;
            border-radius: 20px;
            padding: 4px 12px 5px;
            font-weight: 100;
        }
        
        .pass {
            float: right;
            width: 450px;
            height: 320px;
            background: #ebeef7;
            text-align: center;
        }
        
        .pass h2 {
            margin-top: 30px;
        }
        
        .pass form input {
            display: block;
            margin: auto;
            border: 0;
            margin-bottom: 20px;
            height: 35px;
            width: 260px;
            border-radius: 20px;
            padding-left: 20px;
            outline: none;
        }
        
        .pass form input[type=submit] {
            margin-bottom: 0;
            width: 140px;
            padding: 0;
            background: #c8ceda;
        }
.button-OK{
    background-Color : #F95752 !important; 
     border: none;
}
.button-refuse {
    background-Color: #C8CDD9!important;
    border: none;
}