@font-face {
    font-family: NewWordVibes; 
    src: url(../../fonts/NWV.TTF); 
   }
body {
    background-color: #f4f6fb;
    overflow-x: hidden;
   
}

#hr-style {
    background-color: #AEB4C7;
    height: 1.2px;
    border: 0;
    margin-top: 18px;
    margin-bottom: 26px;
}

.registration-logo {
    position: relative;
    top: 250px;
    left: 220px;
    width: 162px;
    font-family: NewWordVibes;
}

.registration-logo p {
    font-size: 14px;
    margin-top: 26px;
}

 .registration-logo .select {
    cursor: pointer !important;
    color: #A4ABC0;
     text-decoration: none;
     cursor: pointer;
     font-weight: bold;
   
}
 

 .registration-logo .notselect  {
    color: #ABB1C5;
    text-decoration: none;
    cursor: pointer;
}

.registration-parallelogram {
    width: 2000px;
    height: 595px;
    -webkit-transform: skew(43deg);
    -moz-transform: skew(43deg);
    -o-transform: skew(43deg);
    background: #FFFFFF;
    position: absolute;
    top: 40px;
   left: 543px;
    border: 2px solid #A4ABC0;
    font-family: "NewWordVibes";
}

.registration-wrapper {
    position: absolute;
    height: 500px;
    width: 100%;
    left: calc(50% - 750px);
    top: 0px;

}
.registration-wrapper p {
    font-size: 15px;
    margin-bottom: 24px;
}
.registration-inner-parallelogram {
    background-color: #F95752;
    height: 75px;
    width: 2200px;
    position: absolute;
           top: 188px;
    overflow: hidden;
}
.registration-inner-error {
    height: 25px;
    list-style-type: none;
   
}


.registration-inner-error  ul {
     list-style-type: none;
}
.registration-inner-parallelogram p {
    transform: skew(-43deg) !important;
   margin: 0 0 0 386px;
    line-height: 80px;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
}
#Login  {
    position: relative;
    left: 49px;
}
#Login input {
      width: 282px;
}
#Login input:nth-of-type(3) {
    margin-top: 16px !important;
    
}
#ResetPassword {
    position: relative;
    left: 54px;
}
#ResetPassword input[type="submit"] {
    width: 150px;
    position: relative;
    left: -10px;
    top: -1px;
}
    #Login input:nth-of-type(4) {
        margin-top: 2px;
        width: 149px;
    }
    #ForgotPassword {
        position: relative;
    left: 49px;
    }
    #ForgotPassword input {
        width: 282px;
    }
    #ForgotPassword input[type="submit"] {
         margin-top: 2px;
        width: 149px;
    }
.registration-inner-inner-parallelogram {
    background-color: transparent;
        height: 402px;
    width: 2400px;
    position: absolute;
    top: 188px;
    border: 2px solid #FCABA8;
    left: 5px;
}

.registration-inner-inner-parallelogram2 {
    background-color: transparent;
    height: 80px;
    width: 2400px;
    position: absolute;
    top: 8px;
    border: 2px solid white;
    left: 10px;
}
#ChangePasswordSuccess {
    position: relative;
    top: 13px;
    left: 93px;
}
.registration-form {
    position: absolute;
    top: 285px;
     left: 150px;
    width: 300px;
    transform: skew(-43deg);
    text-align: center;
   
   
}



.registration-form input {
    height: 33px ;
    width: 282px;
    line-height: 30px;
    border-radius: 20px;
        margin-bottom: 3px;
    padding-left: 15px;
    color: #6B7384;
    outline: none;
    border: none;
}
.registration-form input[type="text"],.registration-form input[type="password"],.registration-form input[type="email"] {
    background-color: #F5F6FB;
}
.registration-form p {
    color: #828895;
}
.registration-form input[type="submit"] {
    width: 100px;
    background-color:#CACCD9;
    color: white;
    padding: 0;
    z-index: 10;
    height: 38px !important;
            margin-top: 10px;
    width: 178px;
    position: relative;
  
}
#registration input[type="submit"] {
    width: 178px !important;
}

.registration-form input::-webkit-input-placeholder {
    color: #C8CDD9 ;
    text-align: left;
   
}

#ForgotPassword p {
    text-align: center;
    position: relative;
    top: -5px;
    left: -2px;
}

#ForgotPassword input[type="submit"] {
        position: relative;
    top: -3px;
    left: 5px;
}
   #ForgotPassword input[type="email"] {
       position: relative;
    top: -12px;
    left: 6px;
   } 
   #ForgotPassword span {
       position: relative;
    top: -10px;
    left: 2px;
   }
   .forgot-password-confirmation p {
       
    position: relative;
    top: 15px;
    left: 80px;

   }
.forgot-password-title {
    position: relative;
    top: -2px;
    left: -9px;
}

.button-OK{
    background-Color : #F95752 !important; 
     border: none;
     cursor: pointer;
}
.button-refuse {
    background-Color: #C8CDD9!important;
    border: none;
    cursor: pointer;
}
.registration-form-incorrect-block {
    margin: 2px;
    height: 10px;
    font-size: 10px;
    color: #626D81;
    list-style-type: none !important;
    text-align: left!important;
        position: relative;
    top: -3px;
    left: -2px;
}
.registration-form-incorrect-block img{
    position: relative;
    top: 2px;
}

.registration-form-incorrect-big-block {
    margin: 2px;
    color: #626D81;
    list-style-type: none !important;
}
.field-validation-error {
    margin: 2px;
    height: 12px;
    font-size: 10px;
    color: #626D81;
     list-style-type: none !important;
}
 
.field-validation-valid {
    display: none;
    list-style-type: none !important;
}
 
.validation-error {
    margin: 2px;
    height: 12px;
    font-size: 10px;
    color: #626D81;
     list-style-type: none !important;
}
 
.validation-summary-errors {
    margin: auto;
   
     list-style-type: none;

    display: inline-block;
}

#result-message {
    position: relative;
    top: -9px;
    left: -61px;
    width: 377px;
}


#result-message span img, #result-message span div {
    display: inline-block;
    color: #767D8D;
    font-size: 14px;
}

#ErrorImage {
     vertical-align: middle;
         margin-right: 5px;
}


#result-message span div ul {
    margin: 0;
    padding: 0;
}
#result-message span {
    vertical-align: middle;
    display: inline-block;
    font-size: 12px;
}

 
.validation-summary-valid {
    display: none;
    list-style-type: none !important;
}
