body {
    background-color: #f4f6fb;
    overflow-x: hidden;
}

#hr-style {
    color: #A4ABC0;
    size: 1px;
}

.registration-logo {
    position: relative;
    top: 247px;
    left: 200px;
    width: 162px;
}

 .select {
    cursor: pointer !important;
    color: #A4ABC0;
    font-weight:bold!important;
}
 

.notselect  {
    color: #BBC0D1;
    cursor: pointer !important;
}

.registration-parallelogram {
    width: 2000px;
    height: 555px;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -o-transform: skew(40deg);
    background: #FFFFFF;
    position: absolute;
    top: 50px;
    left: 525px;
    border: 2px solid #A4ABC0;
}

.registration-wrapper {
    position: absolute;
    height: 500px;
    width: 100%;
    left: calc(50% - 750px);
    top: 0px;
}

.registration-inner-parallelogram {
    background-color: #F95752;
    height: 80px;
    width: 2200px;
    position: absolute;
    top: 180px;
    overflow: hidden;
}

.registration-inner-parallelogram p {
    transform: skew(-40deg) !important;
    margin: 0 0 0 500px;
    line-height: 80px;
    font-size: 30px;
    color: white;
}

.registration-inner-inner-parallelogram {
    background-color: transparent;
    height: 358px;
    width: 2400px;
    position: absolute;
    top: 188px;
    border: 2px solid #FCABA8;
    left: 10px;
}

.registration-inner-inner-parallelogram2 {
    background-color: transparent;
    height: 80px;
    width: 2400px;
    position: absolute;
    top: 8px;
    border: 2px solid white;
    left: 10px;
}

.registration-form {
    position: absolute;
    top: 325px;
    left: 239px;
    width: 400px;
    transform: skew(-40deg);
    text-align: center;
   
   
}

.registration-form input {
    height: 30px;
    width: 300px;
    line-height: 30px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding-left: 40px;
    color: #6B7384;
    outline: none;
}

.registration-form input[type="submit"] {
    width: 100px;
    background-color:#CACCD9;
    color: white;
    padding: 0;
    z-index: 10;
}

.registration-form input::-webkit-input-placeholder {
    color: #C8CDD9 !important;
}
.button-OK{
    background-Color : #F95752 !important; 
     border: none;
}
.button-refuse {
    background-Color: #6B7384!important;
    border: none;
}
.registration-form-incorrect-block {
    margin: 2px;
    height: 12px;
    font-size: 10px;
    color: #626D81;
}