
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SofthemeLogin</title>
  
</head>
<body>
    <div class="wrapper">
        <div class="parallelogram">
            <div class="inner-inner-parallelogram">
            </div>

            <div class="inner-parallelogram">
                <p> Вход </p>

                <div class="inner-inner-parallelogram2">
                </div>

            </div>

            <div class="form">
                <form>

                    <input type="text" placeholder="Адрес электронной почты">
                    <input type="password" placeholder="Пароль">
                    <input type="submit" value="Войти" id="submit">

                </form>
            </div>
        </div>
        <div class="logo">
            <img width="162px" src="Image/logo-gray.png"> </img>
            <br>
            <br>
            <!-- 552 596 -->
            <hr id="hr-style">
            <br>
            <p class="select"><strong><a>Вход</a></strong></p>
            <p class="notselect"> <a>Регистрация</a></p>
            <p class="notselect"> <a>Смена пароля</a></p>
        </div>
    </div>


</body>
</html>
