@model IEnumerable<SofthemeClassBooking_BOL.Models.ClassRoomModel>


<h1 class="plan-stage">Этаж 10</h1>
@foreach (var classroom in Model)
{
    var nameParts = classroom.Name.Split(new char[] { ' ' }, StringSplitOptions.RemoveEmptyEntries);
    var className = classroom.IsLocked ? String.Empty : "-available";
    var english = classroom.Id == 8 ? "plan-room-text-8" : "plan-room-text";

    <div class="plan-wrapper">

        <div class="plan-room-position-@classroom.Id">
            <div id="@classroom.Id" class="plan-room-@classroom.Id@className plan-room @className">
                @if (nameParts.Length > 0)
                {

                    <span id="plan-room-showname-@classroom.Id" class="@english plan-noselect-text">
                        @for (int i = 0; i < nameParts.Length; i++)
                        {
                            if (i >= 1)
                            { <br /> }
                            <span>@nameParts[i]</span>
                        }
                    </span>
                }
            </div>
        </div>

    </div>
}

<div class="plan-walls-background"></div>

<div class="plan-wrapper">
    <div id="show" class="additional-info plan-show-additional-info-short">
    </div>
</div>

<div id="plan-room-line" class="additional-info"></div>
<div id="plan-room-path"></div>
