@using SofthemeClassBooking.Models
@model SofthemeClassBooking.Models.ForgotPasswordViewModel

@using (Html.BeginForm("ForgotPassword", "Login", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    @Html.AntiForgeryToken()
    <p style="text-align:center">Отправить запрос</p>
    @Html.ValidationMessageFor(m => m.Email, "", new {  @class = "registration-form-incorrect-block" })
    @Html.TextBoxFor(m => m.Email,  new {id="emailBox", placeholder = "Адрес электронной почты", type = "email" })
    <input type="submit" class="button-refuse" value="Отправить" id="mysubmit">
   
}
<script>
    $(document)
        .ready(function ()
        {
           
            $('#emailBox').change(function () {
                var value = $.trim($(this).val());

                if (value.length > 0) {

                    $('#mysubmit').removeClass("button-refuse");
                    $('#mysubmit').addClass('button-OK');
                }
                else {
                    $('#mysubmit').removeClass("button-OK");
                    $('#mysubmit').addClass('button-refuse');
                    
                }
            });
        });

    </script>

