@using SofthemeClassBooking.Models
@model LoginViewModel



@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
    @Html.AntiForgeryToken()
    <p style="text-align:center">Отправить запрос</p>
   
    @Html.TextBoxFor(m => m.Email,  new {id="emailBox", placeholder = "Адрес электронной почты", type = "email" })
    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" });

    <input type="submit" value="Отправить" id="mysubmit">
}
<script>

  
    $(document)
        .ready(function () {

            var email = $('#emailBox');

            $("#emailBox").keyup(function () {
               

                    if ($("#emailBox").text() != "")
                    {
                        $("submit").css("background-color:#F95752");
                    }
                    else
                    {
                        $("submit").css("background-color: #6B7384");
                    }
                


            });
        });

</script>
