
@{
    ViewBag.Title = "ForgotPasswordResult";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}



        @section Title
        {
            <p id="title" class="forgot-password-title"> Смена пароля </p>
        }

            <div class="forgot-password-confirmation">
            <p align="center">
                На указанный адресс электронной почты<br />
                 успешно отправлено письмо с<br /> 
                инструкцией по смене пароля.
            </p>
            </div>
      
            @section Menu
            {
            <p> @Html.ActionLink("Вход", "Index", "Login", null, new {  @class = "notselect" })</p>

            <p>@Html.ActionLink("Регистрация", "Registration", "Login", null, new {  @class = "notselect" })</p>

            <p>@Html.ActionLink("Смена пароля", "ForgotPassword", "Login", null, new { @class = "select" })</p>

            }





