
@{
    ViewBag.Title = "ForgotPasswordResult";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}



        @section Title
        {
            <p id="title"> Смена пароля </p>
        }

           
            <p align="center">
                На указанный адресс электронной почты<br />
                успешно было отправлено письмо с<br />
                инструкцией по смене пароля
                
            </p>
            
      
            @section Menu
            {
            <p> @Html.ActionLink("Вход", "Index", "Login", null, new { style = "cursor: pointer;", @class = "notselect" })</p>

            <p>@Html.ActionLink("Регистрация", "Registration", "Login", null, new { style = "cursor: pointer; text-decoration: none;font-weight: bold", @class = "select" })</p>

            <p>@Html.ActionLink("Смена пароля", "ForgotPassword", "Login", null, new { style = "cursor: pointer; text-decoration: none;", @class = "notselect" })</p>

            }





