@{
    ViewBag.Title = "ConfirmChangePassword";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}
@model SofthemeClassBooking.Models.ResetPasswordViewModel


@section Title
{
    <p id="title" class=" forgot-password-title">  Смена пароля </p>
}




<p id="ChangePasswordSuccess">Пароль успешно изменен.</p>


@section Menu

{
    <p> @Html.ActionLink("Вход", "Index", "Login", null, new {  @class = "notselect" })</p>

    <p>@Html.ActionLink("Регистрация", "Registration", "Login", null, new {  @class = "select" })</p>

    <p>@Html.ActionLink("Смена пароля", "ForgotPassword", "Login", null, new {  @class = "notselect" })</p>

}


