@{
    ViewBag.Title = "ConfirmChangePassword";
    Layout = "~/Views/Shared/_LayoutAuthorization.cshtml";
}
@model SofthemeClassBooking.Models.ResetPasswordViewModel


@section Title
{
    <p id="title"> Смена пароля </p>
}




<p>Пароль успешно изменен.</p>


@section Menu

{
    <p> @Html.ActionLink("Вход", "Index", "Login", null, new { style = "text-decoration: none; cursor: pointer;", @class = "notselect" })</p>

    <p>@Html.ActionLink("Регистрация", "Registration", "Login", null, new { style = "cursor: pointer; text-decoration: none;", @class = "select" })</p>

    <p>@Html.ActionLink("Смена пароля", "ForgotPassword", "Login", null, new { style = "cursor: pointer; text-decoration: none;", @class = "notselect" })</p>

}


