<footer>
    <div class="container">
        <div class="image">
            <img src="~/Content/images/logo-gray.png" alt="Softheme" />
        </div>
        <div class="line">
            <hr />
        </div>
        <div class="text">
            Все права защищены &copy;
        </div>
    </div>
</footer>