@{
    Layout = "~/Views/Shared/_LayoutNavFooter.cshtml";
}

<link rel="stylesheet" href="~/Content/feedback.css"/>



<div class="feedback">
    <div class="feedback-container">
        <h2>Написать сообщение</h2>

        <div class="feedback-left">
            <div>Напишите, если у вас есть идеи, предложения, замечания или вопрос</div>
            <div class="feedback-image"></div>
        </div>

        <div class="feedback-form">
            asdassad
        </div>
    </div>
</div>

