

<style>
    #map_canvas {
        height: 442px;
        width: 100%;
    }
</style>

<div id="map_canvas"></div>

<script src="~/Scripts/map/jquery.min.js"></script>
<script src="~/Scripts/map/jquery.mapit.min.js"></script>
<script src="~/Scripts/map/initializers.js"></script>