
<!--HR room 101-->
<div class="plan-wrapper">
    <div class="plan-room-position-HR">
        <div class="plan-room-HR">
            <span class="plan-room-text">HR<br/>office</span>
        </div>
    </div>
</div>

<!--Einstein room 101-->

<div class="plan-wrapper">
    <div class="plan-room-position-Einstein">
        <div class="plan-room-Einstein">
            <span class="plan-room-text">Einstein<br />Classroom</span>
        </div>
    </div>
</div>

<div class="plan-walls-background">
</div>