
<div class="plan-walls">

    <!--Room 100-->

    <div class="plan-room-wrapper">
        <div class="plan-room-position-100">
            <div class="plan-room-100">
            </div>
        </div>
    </div>

    <!--HR room (101) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-HR">
            <div class="plan-room-name">
                <div class="plan-room-name-textblock">
                    <div class="plan-room-name-header ">HR</div>
                    <div class="plan-room-name-header">office</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-HR">
            <div class="plan-room-HR">
            </div>
        </div>
    </div>

    <!--Einstein room (102) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-Einstein">
            <div class="plan-room-name-Einstein">
                <div class="plan-room-name">
                    <div class="plan-room-name-header ">Einstein</div>
                    <div class="plan-room-name-header">Classroom</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-Einstein">
            <div class="plan-room-Einstein">
            </div>
        </div>
    </div>

    <!--Info room (103) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-Info">
            <div class="plan-room-name-Info">
                <div class="plan-room-name">
                    <div class="plan-room-name-header ">Info</div>
                    <div class="plan-room-name-header">Центр</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-Info">
            <div class="plan-room-Info">
            </div>
        </div>
    </div>

    <!--Web & marketing room (104) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-Web1">
            <div class="plan-room-name-Web1">
                <div class="plan-room-name">
                    <div class="plan-room-name-header ">Web &</div>
                    <div class="plan-room-name-header">Marketing</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-Web1">
            <div class="plan-room-Web1">
            </div>
        </div>
    </div>
    
    <!--Web & marketing room (105) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-Web2">
            <div class="plan-room-name-Web2">
                <div class="plan-room-name">
                    <div class="plan-room-name-header ">Web &</div>
                    <div class="plan-room-name-header ">Marketing</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-Web2">
            <div class="plan-room-Web2">
            </div>
        </div>
    </div>
    
    <!--Web & marketing room (106) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-Web3">
            <div class="plan-room-name-Web3">
                <div class="plan-room-name">
                    <div class="plan-room-name-header ">Web &</div>
                    <div class="plan-room-name-header">Marketing</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-Web3">
            <div class="plan-room-Web3">
            </div>
        </div>
    </div>
    
    <!--English (107) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-English">
            <div class="plan-room-name-English">
                <div class="plan-room-name-textblock">
                    <div class="plan-room-name-header">English</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-English">
            <div class="plan-room-English">
            </div>
        </div>
    </div>

    <!--Tesla (108) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-Tesla">
            <div class="plan-room-name-Tesla">
                <div class="plan-room-name">
                    <div class="plan-room-name-header ">Tesla</div>
                    <div class="plan-room-name-header">Classroom</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-Tesla">
            <div class="plan-room-Tesla">
            </div>
        </div>
    </div>
    
    <!--Newton (109) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-Newton">
            <div class="plan-room-name-Newton">
                <div class="plan-room-name">
                    <div class="plan-room-name-header ">Newton</div>
                    <div class="plan-room-name-header">Classroom</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-Newton">
            <div class="plan-room-Newton">
            </div>
        </div>
    </div>

</div>