
@{
    Layout = null;
}
@using SofthemeClassBooking.Models
@model LoginViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SofthemeLogin</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    


</body>
</html>
