
<p align="center">Регистрация нового пользователя прошла успешно.<br />
    Пожалуйста ожидайте одобрение администратора сайта</p>
<p align="center"> На указанный адрес электронной <br />
    почты будет отправлено приглашение</p>