
<div class="plan-walls">

    <!--Room 100-->

    <div class="plan-room-wrapper">
        <div class="plan-room-position-100">
            <div class="plan-room-100">
            </div>
        </div>
    </div>

    <!--HR room (101) and room name-->

    <div class="plan-room-name-wrapper">
        <div class="plan-room-name-position-HR">
            <div class="plan-room-name-HR">
                <div class="plan-room-name-textblock">
                    <div class="plan-room-name-header ">HR</div>
                    <div class="plan-room-name-header">officeasdsadasdasddsa</div>
                </div>
            </div>
        </div>
    </div>
    <div class="plan-room-wrapper">
        <div class="plan-room-position-HR">
            <div class="plan-room-HR">
            </div>
        </div>
    </div>

    <!--HR room and room name-->


</div>